@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Yaldevi&display=swap');
body {
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  background-color: #FFFFFF;
  overflow: hidden;
}
.scrollMethod {
  justify-self: flex-end;
}
.nav {
  position: fixed;
  left: 6px;
  top: calc(4vh + 4vw);
  z-index: 200;
  opacity: 0.7;
  padding: 6px;
  background-color:white;
  box-sizing: border-box;
  border: 6px solid grey;
  border-radius: 16px;
}
.hidden {
  display: none;
}
.link {
  font-size: calc(3vw + 1vh);
  font-family: 'Mukta';
  margin: 0px;
}
.navText {
  fill:gray;
  font-family: 'Mukta';
  font-size: calc(2vw + 2vh);
  cursor: pointer;
}
.floatyImg {
  pointer-events: none;
  position: absolute;
  width: 120%;
  height: 120%;
}
.menuButton {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  width: calc(3vh + 3vw);
  height: calc(3vh + 3vw);
}
.activeNav {
  font-weight:bolder;
}
.contentfulProject {
  display: flex;
  flex-wrap: wrap;
}
h3, h2, h1 {
  color: '#000000';
  font-family: 'Yaldevi';
  z-index: 150;
}
.slide {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: white;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-bottom: 9px solid black;
  overflow: hidden;
}
.slideH1 {
  font-size: 5vw;
  margin: 0px;
  z-index: 100;
}
.slideH2 {
  font-size: 4vw;
  margin:0px;
  z-index: 100;
}
.slideH3 {
  font-size: 3vw;
  margin:0px;
  z-index: 100;
}
.project {
  display: flex;
  flex-wrap: wrap;
}
.project_one, .project_two, .project_three, .project_title {
  box-sizing: border-box;
  padding: 16px;
  width: 50vw;
  height: 50vh;
  display: flex;
  background-color:white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 40;
}
.project_title {
  font-size: 3vw;
  background-color:black;
  color:white
}
.project_three {
  background-color:black;
  color:white;
  flex-direction: row;
  justify-content: space-evenly;
}
.project_three img{
  max-height: 75%;
  max-width: 75%;
}
.project ul {
  display: flex;
  flex-direction: column;
  align-items:center;
  list-style: none;
}
.project li, .project p, .project a {
  font-size: calc(0.95vw + 1vh);
  font-family: 'Mukta';
}
.link {
  font-weight: bolder;
}
#contact {
  display: flex;
  border-radius: 16px;
  padding: 64px;
  flex-direction: column;
  align-items: center;
  background-color: #DDDDDDAA;
  z-index: 200;
}
.contact a {
  color: black;
}
.project_two {
  font-size: calc(3vw + 1vh);
  align-content: center;
}